:root {
  --dark-green: rgb(7, 79, 7); /* global scope */
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
    line-height: 1;

    button:hover {
        cursor: pointer;
    }
}

html {
    font-size: 16px;
    font-family: Palanquin;
    line-height: 1;

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
        font-weight: 600;
    }

}

html:has(dialog[open]) { /* remove the main scrollbar when dialog is open */
overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    /* background: orange; */
}

.content {
    width: 100%;
    max-width: 1440px;
    /* background: black; */
}

#landing-section {
    height: 40dvh;
    max-height: 500px;
    /* background: rgb(7, 79, 7); */
    background: url(./assets/images/vegang-vegan-meal.png);
    flex-direction: column;
    display: flex;
    justify-content: center;

    #background-image {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }

    #logo {
        height: 100px;
        width: auto;
        position: absolute;
        bottom: 35%;
        left: 45%;
        z-index: 1;
    }

    #restaurant-info {
        height: 20dvh;
        max-height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        padding-bottom: 24px;
        background: var(--dark-green);
        color: white;
        position: absolute;
        bottom: 0;

        #restaurant-name-rating {
            display: flex;
            gap: 24px;
            align-items: flex-end;
            font-size: 20px;

            #ratings {
                padding-bottom: 4px;
                display: flex;
                gap: 4px;

                #rating-average {
                    font-weight: 600;
                }

                #total-ratings {
                    color: darkgrey;
                }
            }
        }
    }
}

#content-wrapper {
    height: 100%;
    width: 100%;
    display: flex;

    /* Menu is styled in menu.css */

    /* Cart is styled in cart.css */
}
