:root {
    --dark-green: rgb(7, 79, 7); /* global scope */
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
    line-height: 1;

    button:hover {
        cursor: pointer;
    }
}

html {
    font-size: 16px;
    font-family: Palanquin;
    line-height: 1;

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    @media screen and (max-width: 640px) {
        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 18px;
        }

        h3,
        h4 {
            font-size: 16px;
        }
    }
}

html:has(dialog[open]) {
    /* remove the main scrollbar when dialog is open */
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    /* background: orange; */
}

.content{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    /* background: black; */
}

#content-wrapper {
    height: 100%;
    width: 100%;
    display: flex;

    /* Menu is styled in menu.css */

    /* Cart is styled in cart.css */
}
