header, footer {
    height: 8dvh;
    max-height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--dark-green);

    img {
        height: 30px;
    }
}

.content-headooter {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

#header-content{
    justify-content: space-between;
}

#footer-links{
    justify-content: space-evenly;
    color: white;
}