#menu {
    background-color: white;
    width: calc(100% - 300px);
    height: 100%;
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    #menu-items-wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .menu-item {
            background-color: blanchedalmond;
            width: 100%;
            height: 175px;
            display: flex;
            gap: 8px;
            padding: 16px 16px;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            border-radius: 8px;
    
            .dish-details {
                width: 80%;
                height: fit-content;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 16px;

                .dish-name-description{
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                }
    
                img {
                    height: calc(175px - 2*16px);
                    width: calc(175px - 2*16px);
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
    

            .dish-purchasing {
                height: 100%;
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                p{
                    font-size: 24px;
                    font-weight: 600;
                }

                .add-to-cart-button{
                    border: 1px solid black;
                    border-radius: 4px;
                    padding: 2px 8px;
                    text-align: center;
                    vertical-align: middle;
                }

            }
        }
    }
}
